# .gitignore
Part 0 - Welcome to Machine Learning A-Z/
Part 1 - Data Preprocessing/
Part 10 - Model Selection and Boosting/
Part 2 - Regression/
Part 3 - Classification/
Part 4 - Clustering/
Part 5 - Association Rule Learning/
Part 6 - Reinforcement Learning/
Part 7 - Natural Language Processing/
Part 8 - Deep Learning/
